@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import font yang diperlukan */
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./custom.css";

@layer base {
    html {
        color: #080C2E;
        background-color: #F1F4F5;
        font-family: "poppins", Poppins, sans-serif;
    }
}

@keyframes infinite-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-infinite-scroll {
    display: flex;
    animation: infinite-scroll 20s linear infinite;
}

.animate-infinite-scroll:hover {
    animation-play-state: paused;
}
